<%- include("../partials/header"); %>

<div class="flex">
    <div class="border">
        <div class="ui container flex">
            <h1>New Entry</h1>
            <form action="/entries/<%= entry._id %>?_method=PUT" method="POST" class="ui form">
                <div class="field">
                    <label>Title</label>
                    <input type="text" name="title" value="<%= entry.title %>" disabled>
                </div>
                <div class="field">
                    <label>Author</label>
                    <input type="text" name="author" value="<%= entry.author %>" disabled>
                </div>
                <div class="field">
                    <label>Borrower username</label>
                    <input type="text" name="borrowerUserName" value="<%= entry.borrower.username %>" disabled>
                </div>
                <div class="field">
                    <label>Borrow date</label>
                    <input type="date" name="borrowDate" value = "<%= entry.borrowDate.toISOString().split('T')[0] %>" disabled>
                </div>
                <div class="field">
                    <label>Due date</label>
                    <input type="date" name="dueDate" value="<%= entry.dueDate.toISOString().split('T')[0] %>" min = "<%= entry.dueDate.toISOString().split('T')[0] %>" required>
                </div>
                <button class="ui inverted button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer"); %>