<%- include("../partials/headerShow"); %>

<div class="ui container flex">
        <% if(currentUser.isAdmin){ %>
            <a href="/entries/new" class="ui inverted button">New</a>
        <% } %>
        
        <% if(entries.length > 0){ %>
            <div class="ui stackable grid">
                <% entries.forEach(function(entry){ %>
                    <div class="ui four wide column">
                        <div class="ui card">
                            <div class="content">
                                <form action="/entries/<%= entry._id %>?_method=DELETE" method = "POST">
                                    <button class="right floated return"><i class="fas fa-check"></i></button>
                                </form>
                                <div class="header">
                                    <%= entry.title %>, by <%= entry.author %>
                                </div>
                                <div class="description">
                                    Borrowed by <%= entry.borrower.username %>
                                </div>
                                <div class="meta">
                                    <div class="date">Borrowed on <%= entry.borrowDate.toLocaleDateString() %></div>
                                    <div>
                                        <span class="date">Due on <%= entry.dueDate.toLocaleDateString() %></span>
                                        <span class="date green right floated">Days overdue: 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% }else{ %>
            <h2>
                No entries yet
            </h2>
        <% } %>
</div>

<%- include("../partials/footer"); %>
