<%- include("../partials/headerShow"); %>

<div class="ui container flex">
        <% if(currentUser.isAdmin){ %>
            <a href="/entries/new" class="ui inverted button">New</a>
        <% } %>
        <div class="ui stackable grid">
            <% if(entries.length > 0){ %>
                <% entries.forEach(function(entry){ %>
                <div class="ui four wide column">
                    <div class="ui card">
                        <div class="content">
                            <div class="header">
                                <%= entry.title %>, by <%= entry.author %>
                            </div>
                            <div class="description">
                                Borrowed by <%= entry.borrower.username %>
                            </div>
                            <div class="meta">
                                <span class="date">Borrowed on 20.06.2020</span>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
            <% }else{ %>
                <h2>
                    No entries yet
                </h2>
        <% } %>
</div>

<%- include("../partials/footer"); %>
